.product {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin: 80px 0;
  flex-wrap: wrap;
}

.product__swiper-main {
  margin-bottom: 16px;
}

.product__gallery,
.product__details {
  width: 100%;
  max-width: 530px;
}

.product__image {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

.product__swiper-button-next,
.product__swiper-button-prev {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1;
}

.product__swiper-button-next:hover,
.product__swiper-button-prev:hover {
  cursor: pointer;
}

.product__swiper-button-next {
  right: 0;
}

.product__swiper-button-prev {
  left: 0;
}

.product__swiper--thumbs .swiper-slide {
  width: 12.5%;
}

.product__thumb {
  padding: 4px;
}

.product__thumb:hover {
  cursor: pointer;
}

.swiper-slide-thumb-active {
  border: 1px solid rgba(var(--color-foreground));
}

.product .product__title {
  margin-bottom: 8px;
}

.product__title h1 {
  font-size: 32px;
  line-height: 41.6px;
}

.product__description {
  font-size: 16px;
  line-height: 24px;
  color: rgba(var(--color-foreground));
}

.product__purchase-options {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  gap: 16px;
  align-items: center;
}

.product-form__quantity {
  margin: 8px 0;
}

.product__buy-button {
  width: 100%;
}

.product-form__submit span {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  color: rgba(var(--color-foreground));
  gap: 5px;
}

.product__price {
  display: flex;
  align-items: center;
}

.product__shipping-info,
.product__installments-info {
  font-size: 14px;
  line-height: 18.2px;
  color: rgba(var(--color-foreground));
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  text-align: center;
}

.product__shipping-info {
  margin: 0 0 8px 0;
}

.product__installments-info {
  margin: 8px 0 0 0;
  white-space: nowrap;
}

.u-hide-on-desktop {
  display: none;
}

.u-hide-on-mobile {
  display: flex;
}

.product__vertical-line {
  display: inline-block;
  width: 1px;
  height: 16px;
  background-color: rgba(var(--color-foreground));
  margin: 0 6px;
}

.product .product-details {
  margin: 8px 0;
}

.product-details__heading p {
  color: rgba(var(--color-foreground));
  font-weight: 500;
  font-size: 16px;
  line-height: 20.8px;
  margin: 0 0 8px 0;
}

.product-details__item {
  display: flex;
  gap: 12px;
}

.product-details__content p {
  margin: 0;
}

.product-details__title {
  color: rgba(var(--color-foreground));
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.product-details__description {
  color: rgba(var(--color-foreground));
  font-size: 14px;
  line-height: 21px;
}

.product .product-features {
  margin-top: 32px;
}

.product-features__icon {
  width: 96px;
  height: 96px;
  margin-bottom: 10px;
}

.product-features__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.product-features__list {
  display: flex;
  gap: 18.5px;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}

.product__swiper--thumbs {
  position: relative;
}

.product__swiper--thumbs::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 11px;
  background: linear-gradient(270deg, #FCF4EE 0%, rgba(252, 244, 238, 0) 95.45%);
  pointer-events: none;
  z-index: 10;
}


@media screen and (max-width: 1150px) {
  .product {
    padding: 48px 20px;
    margin: 0;
    gap: 32px;
  }

  .product .product__title {
    margin: 12px 0 8px 0;
  }

  .product .product__info-container .product__description {
    margin: 12px 0 16px 0;
  }

  .product-features__list {
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
  }

  .product__gallery, .product__details {
    max-width: 100%;
  }
}

@media screen and (max-width: 750px) {
  .product__purchase-options {
    grid-template-columns: repeat(1, 2fr);
    gap: 12px;
  }

  .product__shipping-info,
  .product__installments-info {
    font-size: 12px;
  }

  .product__info-container  product-form.product-form {
    margin: 0;
  }

  .product-form__quantity {
    margin: 0;
  }

  .quantity {
    width: 100%;
  }

  .product__shipping-info {
    margin-top: 8px;
  }

  .product .product-features {
    margin-top: 24px;
  }

  .u-hide-on-desktop {
    display: flex;
  }

  .u-hide-on-mobile {
    display: none;
  }
}